# requirements.txt
selenium>=4.6.0  # توصیه می‌شود از نسخه ۴.۶ به بالا برای مدیریت خودکار بهتر درایور استفاده شود
pandas>=1.0.0
openpyxl>=3.0.0  # برای ذخیره‌سازی در فرمت Excel (.xlsx)
# matplotlib>=3.0.0 # اگر می‌خواهید توابع تحلیل و رسم نمودار مقاله را استفاده کنید، اینها را اضافه کنید
# seaborn>=0.11.0   # و این را هم برای نمودارهای زیباتر
seokar
